body { 
  margin: 0;
  background-color: #0000ff;
}

canvas { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1; 

}

#info {
  padding: 0.5rem;
  position: relative;
  font-family: 'Tomorrow';
  font-size: calc(1vmin + 1.25rem);
  color: white;
  margin: 1rem auto;
  max-width: 40ch;
}

